#gpio-pins {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-left: 10px;
	display: inline-flex;
	flex-direction: column;
}

#gpio-pin {
	flex: 1;
}

#gpio-text {
	margin-right: 15px;
}

#gpio-checkbox {
	float: right;
}
